<html>
    <head>
        <title>Django ORM</title>
    </head>
    <body>
        <h2> Methods that return a new QuerySet </h2>
        {% for key, context in context_01.items %}
            <h3> {{ forloop.counter }} {{ key }} </h3>
            {% for data_object in context %}
                {{ forloop.counter }} {{ data_object }} <br>
            {% endfor %}
        {% endfor %}
        
        <h2> Methods that do not return a new QuerySet </h2>
        {% for key, context in context_02.items %}
            <h3> {{ forloop.counter }} {{ key }} </h3>
            {{ context }} <br>
        {% endfor %}

        <h2> Field LookUps </h2>
        {% for key, context in context_03.items %}
            <h3> {{ forloop.counter }} {{ key }} </h3>
            {% for data_object in context %}
                {{ forloop.counter }} {{ data_object }} <br>
            {% endfor %}
        {% endfor %}

        <h2> Q Objects </h2>
        {% for key, context in context_04.items %}
            <h3> {{ forloop.counter }} {{ key }} </h3>
            {% for data_object in context %}
                {{ forloop.counter }} {{ data_object }} <br>
            {% endfor %}
        {% endfor %}

        <h2> F Objects </h2>
        {% for key, context in context_05.items %}
            <h3> {{ forloop.counter }} {{ key }} </h3>
            {% for data_object in context %}
                {{ forloop.counter }} {{ data_object }} <br>
            {% endfor %}
        {% endfor %}

    </body>
    
</html>